.projects-container {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(20em, 1fr));
}

.projects-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
}

.project-details {
  align-items: center;
  background: rgba(0, 0, 0, .8);
  color: white;
  display: flex;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  text-shadow: none;
  transform: scale(1.3);
  z-index: 10;
}

.project-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.projects-item:hover > .project-details {
  opacity: 1;
  transform: scale(1);
  transition: all .25s linear;
}

.projects-item:hover > .project-img {
  transform: scale(1.3);
  transition: all .25s linear;
}

@media only screen and (max-width: 600px) {
  .project-details {
    top: unset;
    bottom: 0;
    height: 3rem;
    opacity: 1;
    transform: scale(1);
  }
}
