<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-64J3C3W6RC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-64J3C3W6RC');
  </script>
  <title>
    {{- block "title" . -}}
    {{- .Site.Title -}}
    {{- end -}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" href="/blog/index.xml" title="Andrea Radaelli's Blog">
  {{- block "head" . -}}
  {{- end -}}
</head>
<body>
  <header>
      <a href="/">
        <img class="header-logo" src="/images/logo.svg">
      </a>
      <nav>
        <a href="/portfolio/" class="{{ if eq .Page.RelPermalink "/portfolio/" }}nav-active{{ end }}">Portfolio</a>
        <a href="/blog/" class="{{ if eq .Page.RelPermalink "/blog/" }}nav-active{{ end }}">Blog</a>
        <a href="/about/" class="{{ if eq .Page.RelPermalink "/about/" }}nav-active{{ end }}">About</a>
      </nav>
  </header>

  <main>
    {{- block "main" . -}}
      <article class="article-container">
        <section class="article-content">
          <h1>{{ .Title }}</h1>
            {{- block "content" . -}}
            {{- end -}}
        </section>
      </article>
    {{- end -}}
  </main>

  <footer>
    <p><a href="mailto:contact@aradaelli.com">Email</a> - <a href="https://www.linkedin.com/in/andrea-radaelli/">LinkedIn</a> - <a href="https://github.com/skilion">GitHub</a></p>
  </footer>
</body>
</html>