{{- $safeUrl := .Destination | safeURL -}}
{{- $image := .Page.Resources.GetMatch .Destination -}}
{{- $caption := .Text -}}
<figure>
  <a href="{{ $image.RelPermalink }}">
    <picture>
      {{ if strings.HasSuffix $safeUrl ".svg" }}
      <img class="md__image" src="{{ $image.RelPermalink }}" alt="{{ $caption }}"/>
      {{ else }}
        {{- $imageSmall := $image.Resize "600x q70 linear" -}}
        {{- $imageMedium := $image.Resize "1200x q70 linear" -}}
        {{- $imageBig := $image.Resize "1800x q70 linear" -}}
        <source media="(min-width:600px)" srcset="{{ $imageMedium.RelPermalink }}">
        <source media="(min-width:1200px)" srcset="{{ $imageBig.RelPermalink }}">
        <img class="md__image" src="{{ $imageSmall.RelPermalink }}" alt="{{ $caption }}"/>
      {{ end }}
    </picture>
  </a>
  <figcaption>
    <small><i>{{ $caption }}</i></small>
  </figcaption>
</figure>